.customer {
  background-color: #F4F3FF;
  
}

.customer .container {
  padding: 40px 35px;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.customer img {
  width: 100px;
  height: 100px;
}

.customer-mobile {
  background-color: #F4F3FF;
  padding: 40px 35px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.customer-mobile img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1200px) {
  .customer {
    padding-inline: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .customer {
    padding-inline: 50px;
  }
}

@media screen and (max-width: 375px) {
  .customer-mobile {
    padding: 1rem;
  }
}